body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

header{
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 2;
}

header nav{
    display: flex;
    justify-content: flex-end;

}

header nav .nav__right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

nav .nav__right-section a{
    color: white;
}

nav .nav__right-section .menu__icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav__right-section img{
    border-radius: 50%;
}
main{
    margin-top: 30px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.main-logo{
    width: 530px;
    margin: auto;
    margin-top: 50px;
}

.main-logo__img{
    width: 500px;
}

.main-input{
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}


.main-input-container{
    width: 530px;
    background-color: white;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}


.main-input-container input{
    width: 450px;
    outline: none;
    border: none;
}

.main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

.search{
    background-image: url("https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
}

.main-input a{
    background-image: url("https://cdn.icon-icons.com/icons2/2620/PNG/512/among_us_player_red_icon_156942.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;
}

.main-buttons{
    width: 530px;
    margin: 0 auto;
}

.main-buttons div{
    display: inline-block;
}

.main-buttons button{
    height: 40px;
    background-color: #0c0c10;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    padding: 0 5px;
    margin-right: 15px;
    width: 100px;
    color: white;
}

.main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
    color: black;
}

footer{
    width: 100%;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #1b1919;
    border-radius: 50px 50px 0 0px;
    position: absolute;
    z-index: 2;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

.footer-right{
    justify-self: right;
}

.footer-left{
    justify-self: left;
}

footer ul li a{
    margin: 10px;
    color: white;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    opacity: 0.5;
}
